body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:antiquewhite;
}

h1{
    text-align: center;
    font-size: 50px;
}

.container{
    display: flex;
    justify-content: center;
    align-content: stretch;
    height: 375px;
    padding: 10px;
    margin-left: 150px;
    margin-right: 150px;
    gap:10px;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

.grid {
    flex:4;
    background-color: white;
    display: grid;
    grid-gap: 0;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
  padding: 0;
  border: 0 solid #ddd;
  text-align: center;
}

.grid-black{
    background-color: black;
}

.buttons{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    padding-left: 10px;
}

.button{
    border: .2rem solid black;
    border-radius: .5rem;
    padding: .5rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
}

.active {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

footer{
    margin-top: 5px;
    font-size: smaller;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "\f09b";
    gap:10px;

}